spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:pantrydb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

logging:
  level:
    root: INFO
    org.jossegonnza.kitchenpantry: DEBUG
    org.springframework.jdbc.core: DEBUG
    org.springframework.transaction: DEBUG