spring:
  application:
    name: kitchen-pantry

  profiles:
    active: ${SPRING_PROFILE:dev}

  jmx:
    enabled: false

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"