spring:
  application:
    name: kitchen-pantry

  datasource:
    url: jdbc:h2:mem:pantrydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.jdbc.core: DEBUG